

*{
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

/* Header */
.header{
    background-color: #44281C;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header img{
    width: 25px;
    margin: 0 5px;
}

.header h2{
    color: #FBF2BA;
    font-size: 25px;
    margin: 0;
}

.section.name{
    grid-area: name;
}
.section.items{
    grid-area: items;
}

.section.payment{
    grid-area: payment;
}

.price-section{
    grid-area: price;
}

.main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "items name"
                         "items payment"
                         "price price";
}


.section{
    display: grid;
    background-color: #EEE1D5;
    margin: 20px;
    border-radius: 10px;
    padding: 15px;

    box-shadow: 3px 3px 10px #EEE1D5;
}

.section p{
    margin: 0;
    padding: 10px;
    color: #9D7650;
    font-size: 20px;
}

.item{
    display: flex;
    border-bottom: 2px  solid #DEBA96;
    justify-content: space-between;
    margin: 5px;
}

.item .quantity{
    font-size: 18px;
}

.item .details{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
}

.item .details .name{
    display: inline;
    font-size: 20px;
    font-weight: bold;
}

.item .details .ingredients{
    font-size: 15px;
    color: #9D7650;
}

.item .price{
    font-size: 15px;
    font-weight: bold;
}

.input-group{
    position: relative;
    display: inline-block;
    margin: 10px;
}

.input-group .input{
    padding: 10px;
    border: 2px solid #9D7650;
    border-radius: 20px;
    background-color: #EEE1D5;
}

.input-group .input-label {
    background-color: #EEE1D5;
    color: #9D7650;
    font-size: 11px;
    position: absolute;
    left: 25px;
    top: -7px;
    padding: 0 2px;
}

.input-group .name-for-order{
    width: 100%;
}

.input-group .card-number{
    width: 100%;
}

.input-group .ccv-number{
    width: 45%;
}

.price-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 400px;
    margin: 25px;
}

.price-section .labels, .price-section .prices{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.price-section .label, .price-section .price{
    font-size: 20px;
}

.price-section .label:last-child, .price-section .price:last-child{
    font-weight: bolder;
}

.footer{
    background-color: #DEB993;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin: 20px;
}
